@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
}

:root {
		--clr-primary: #ffffff;
		--clr-secondary: #A7A7A7;
		--clr-darkgreen: #1DB954;
		--clr-maroon: #962807d0;
		
		--clr-bg-primary: #181818;
		--clr-bg-secondary: #444444;
		--clr-bg-lightgray: #C0C0C064; 
		--clr-bg-gray: #C0C0C0a1;
}


/* layout */

body {
		background-color: var(--clr-bg-primary);
		color: var(--clr-primary);
		display: grid;
		grid-template-areas: 
				'header'
				'main'
				'now-playing'
				'side-nav';
		grid-template-rows: 8vh 1fr 8vh 8vh;
		height: 92vh;
		font-family: 'Roboto', sans-serif;
}

.header {
		grid-area: header;
}

.content {
		grid-area: main;
}

.now-playing {
		grid-area: now-playing;
}

.side-nav {
		grid-area: side-nav;
}


/* utility */

.img-width {
		width: 2em;
		border-radius: 50%;
}

.bg-none {
		background: none;
		border: none;
}

.padding {
		padding: 0 1em;
}

.flex {
		display: flex;
}

.gradient {
		position: absolute;
		top: 0;
		left: 0;
		width: 100vw;
		height: 50vh;
		background: linear-gradient(to bottom, var(--clr-maroon) 65%, var(--clr-bg-primary));
		z-index: -1;
}

.line-clamp {
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		overflow: hidden;		
}

.bg-gray {
		background-color: var(--clr-bg-gray);
}

/* header */

.header {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		position: relative;
}

.user-option__btn {
		display: flex;
		align-items: center;
		gap: .3em;
		border: .05em solid var(--clr-primary);
		border-radius: 1.7em;
		cursor: pointer;
		padding: .4em .9em;
		outline: none;
		color: var(--clr-primary);
}

.user__profile-img {
		transform: translateY(1px);
		border-radius: 100%;
}

.user-option__list {
		background-color: gray;
		border-radius: 0.1em;
		box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
		cursor: none;
		list-style: none;
		margin-top: .5em;
		opacity: 0;
		position: absolute;
		top: 2.5em;
		left: 0;
		padding: .5em;	
		transition: all 0.1s ease-in;
		transform: translateY(-1em);
		width: 4.9em;
}

.user-option__btn[aria-expanded=true] .user-option__list {
		transform: translateY(0em);
		opacity: 1;
		cursor: pointer;
}

.user-option__btn[aria-expanded=true] .user-option__list a {
		cursor: pointer;
}

.user-option__item a {
		color: white;
		text-decoration: none;
		cursor: none;
}


/* Content */

.content {
		overflow-y: scroll;
}

.content > section {
		margin: .5em 0;
}

.card-section {
		display: flex;
		list-style: none;
	 margin: .8em 0;
		overflow-x: scroll;
		width: 90vw;
		text-align: center;
}

.section-header {
		text-transform: capitalize;
}

.card {
		display: flex;
		flex-direction: column;
		gap: .3em 0;
		width: 9.3em;
		cursor: pointer;
		padding: .65em;
}

.playlist-name {
		font-size: .9em;
		font-weight: 700;
		-webkit-line-clamp: 1;
}

.playlist-description {
		font-size: .8rem;
		color: var(--clr-secondary);
}

.playlist-img {
		width: 8em;
		border-radius: .1em;
}


/* Playlists Section | Items */

.playlist-header {
		display: flex;
		flex-direction: column;
		margin: .8em 0;
		gap: .4em 0;
		width: 100%;
}

.playlist-header .playlist-img {
		align-self: center;
		width: 13.5em;
		margin-bottom: .4em;
}

.playlist-header .playlist-name {
		font-size: 1.4rem;
		margin-top: .3em;
}

.playlist-header .playlist-description {
		font-size: 1rem;
}

.playlist-followers {
		display: flex;
		align-items: center;
		gap: .2em;
		color: var(--clr-secondary);
		font-size: .825rem;
		margin: .5em 0;
}

/* playlist tracks */

.tracks {
		margin: .1em 0;
}

.track__item {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: .3em 1em;
		border-radius: .1em;
		color: var(--clr-secondary);
}

.track__item:hover {
		background-color: var(--clr-bg-lightgray);
}

.track__number {
		font-size: .9rem;
		font-weight: 700;
		max-width: 60px;
		width: 34px;
}

.track__info {
		width: 88%;
}

.track__name {
		font-weight: 400;
		-webkit-line-clamp: 1;
		color: var(--clr-primary);
}

.track__artists {
		font-size: .825rem;
		margin: .25em 0;
		-webkit-line-clamp: 1;
}

.track__number {
		position: relative;
}

.track__menu {
		color: var(--clr-primary);
}

.play-button {
		position: absolute;
		top: 6px;
		left: 5px;
		visibility: hidden;
		z-index: 5;
}

.track__item:hover .track__number p,
.track__item.selected .track__number p {
		visibility: hidden;
}

.track__item:hover .play-button,
.track__item.selected .play-button {
		visibility: visible;
}


/* Nav */

.side-nav {
		/*position: fixed;
		bottom: 0;
		width: 100%;
		background-color: var(--clr-bg-primary);
		z-index: -1;*/
}

.nav-items {
		display: flex;
		list-style: none;
		justify-content: space-between;
		padding: .6em 0;
}


/* now playing */

.now-playing {	
		display: grid;
		color: var(--clr-secondary);
		grid-template-columns: 1fr 2fr 1fr;
		background-color: var(--clr-bg-secondary);
		padding: 1em;
		width: 100%;
}

.song {
		display: flex;
		gap: .7em;
		width: 90%;
}

.song__name {
		font-weight: 700;
		color: var(--clr-primary);
}

.song__artist {
		font-size: .9rem;
}

.song__image img {
		width: 4em;
		height: 4em;
}

.song-control {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1.5em;
}

.song__control-btn {
		width: 45px;
		color: var(--clr-secondary);
}

.song__control-btn:hover {
		color: var(--clr-primary);
}

.song--play-btn {
		color: var(--clr-primary);
}

.song__timeline {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 0 .7em;
		width: 100%;
}

.song__progress {
		width: 100%;
		border-radius: 2px;
		height: .185em;
		background-color: var(--clr-secondary);
}

.volume-control {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
}

.volume-slider {
		-webkit-appearance: none;
		background-color: var(--clr-secondary);
		border-radius: 1em;
		width: 150px;
		height: .5em;
		outline: none;
		/*overflow: hidden;*/
		/*box-shadow: inset 0 0 5px var(--clr-primary);*/
}

.volume-slider::-webkit-slider-thumb {
		-webkit-appearance: none;
		height: 1em;
		width: 1em;
		border-radius: 50%;
		background-color: white;
		border: .5px solid;
		cursor: pointer;
		/*box-shadow: -156px 0 0 150px white;*/
}

@media screen and (min-width:768px){
		body {
				grid-template-areas: 
						'side-nav header' 
						'side-nav main'
						'now-playing now-playing';
				grid-template-columns: 200px 1fr;
				grid-template-rows: auto 1fr auto;
		}
		.card-section {
				overflow-x: hidden;
				width: auto;
				flex-wrap: wrap;
		}
}

@media screen and (max-width:767px) {
		body {
				background: hotpink;
		}
		.volume-control,
		.song__time-completed,
		.song__total-time,
		.song-control
		 {
				display: none;
		}
}
